@import url("reset.css");
/* Import Google Font: Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* Define design variables */
  --color-primary: #2b2d42;
  --color-secondary: #999faa;
  --color-background: #dfdbe5;
  --color-accent: #9179BA;

  --border-radius: 0.5rem;

  /* Fonts */
  --font-titles: "Poppins", sans-serif;
  --font-body: system-ui, sans-serif; /* system-ui matches the user's system font */
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
  font-family: var(--font-body);
}

/* Layout */
main {
  padding: 0.1rem;
}

header {
  padding: 2rem 2rem 0 2rem;
}

main,
header,
nav {
  max-width: 60rem;
  margin: 0 auto;
}

article,
nav {
  padding: 1rem 0;
}

.rtl {
  direction: rtl;
}

/* Text */
p {
  margin: 1rem 0;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-secondary);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input,
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}


footer {
  padding: 1rem;
  text-align: center;
  color: var(--color-secondary);
  border-top: 0.01rem solid var(--color-secondary);
  max-width: 60rem;
  margin: 4rem auto 0 auto;
}

/* Header nav-bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 1rem 3rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-family: var(--font-titles);
  color: var(--color-secondary);
  font-size: 1rem;
}

.nav-links a:hover {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: none;
}

/* Main content */
.about-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    max-width: 60rem;
    padding: 2rem 2rem;
}

/* Profile Image */
.profile-img {
  width: 10rem;
  height: 12rem;
  border-radius: 3%;
  object-fit: cover;
  order: 2;
  border: 0.1rem solid var(--color-secondary);
}

.projects-button {
  display: inline-block;
  background-color: var(--color-background);
  border: 1px solid var(--color-accent);
  color: var(--color-accent);
  padding: 12px 20px;
  margin-top: 2rem;
  border-radius: var(--border-radius);
  font-weight: 500;
  font-family: var(--font-titles);
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.projects-button:hover {
  background-color: var(--color-accent);
  color: var(--color-background);
  transform: translateY(-2px);
}

/* Social Links Icons */
.social-links {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* gap between the icons*/
  margin-top: 2rem;
}

.social-links a {
  color: var(--color-primary);
  transition: color 0.2s ease, transform 0.2s ease;
}

.social-links a:hover {
  color: var(--color-accent);
  transform: scale(1.1); /* enlarges the icon a little */
}

/* Define SVG icon styles */
.social-links svg {
  stroke: currentColor; /* the icon inherits the color from <a> */
  width: 28px;
  height: 28px;
}